<nav class="navbar navbar-expand-lg fixed-top">
  <img src="../assets/img/logo.png" class="logo-brand" alt="logo" />
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#hero">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#agents">AGENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#listings">OUR LISTINGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#buy">BUY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sell">SELL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#finance">FINANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#neighborthood">NEIGHBOTHOOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="num-right">
      <h1>☏ 936.760.7800</h1>
    </div>
  </div>
</nav>
