<div class="container">
  <div class="content-center">
    <h1 class="amarillo">PROPERTY SEARCH</h1>
    <table id="myTable">
      <select name="Propiety Type" class="button">
        <option>Propiety Type</option>

        <option>Avión</option>

        <option>Tren</option>
      </select>
      <select name="city" class="button">
        <option>City</option>

        <option>Avión</option>

        <option>Tren</option>
      </select>
      <input class="button" type="text" value="Bado" />
      <input class="button" type="text" value="Bacha" />
      <input class="button" type="text" value="Min Price" />
      <input class="button" type="text" value="Max Price" />
      <input class="button" type="text" value="ML$ #" />

      <input
        class="button"
        type="button"
        id="myInput"
        onkeyup="myFunction()"
        value="SEARCH"
      />
      <input
        class="button"
        type="button"
        id="myInput"
        onkeyup="myFunction()"
        value="AVANCED"
      />
    </table>
  </div>
</div>
